<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder> <pattern>
            %d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
        </pattern> </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <append>false</append> <!-- default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -
                %msg%n</pattern>
        </encoder>
        <file>test.dat</file>
    </appender>

    <!--Info lvl default-->
    <root level="debug">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
    <!--Declarar tantas lineas de logger como logger haya en el programa. Crear logger en la classe e importar Logger y LoggerFactory-->
    <!--First Landmark classes-->
    <logger name="basenostates.fita1.Area" level="OFF"/>
    <logger name="basenostates.fita1.DoorState" level="OFF"/>
    <logger name="basenostates.fita1.UserGroup" level="OFF"/>
    <logger name="basenostates.fita1.DirectoryUserGroups" level="OFF"/>
    <logger name="basenostates.fita1.Locked" level="OFF"/>
    <logger name="basenostates.fita1.WebServer" level="debug" />
    <logger name="basenostates.fita1.Space" level="OFF"/>
    <logger name="basenostates.fita1.DirectoryAreas" level="OFF"/>
    <logger name="basenostates.fita1.Actions" level="OFF"/>
    <logger name="basenostates.fita1.User" level="OFF"/>
    <logger name="basenostates.fita1.DoorState.Propped" level="OFF"/>

    <logger name="basenostates.fita1.Schedule" level="OFF"/>
    <logger name="basenostates.fita1.Door" level="OFF"/>
    <logger name="basenostates.fita1.Clock" level="OFF"/>
    <logger name="basenostates.fita1.Main" level="OFF"/>

    <logger name="basenostates.fita1.UserGroup" level="OFF"/>
    <logger name="basenostates.requests.RequestArea" level="OFF"/>
    <!---->

    <!--Second Landmark classes-->
    <logger name="basenostates.fita2.AreaFinderById" level="info"/>
    <logger name="basenostates.fita2.AreaSpacesFinder" level="info"/>

    <!--Requests package-->
    <logger name="basenostates.requests.RequestChildren" level="info"/>




    <!---->

</configuration>
