<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder> <pattern>
            %d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
        </pattern> </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <append>false</append> <!-- default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -
                %msg%n</pattern>
        </encoder>
        <file>test.dat</file>
    </appender>

    <!--Info lvl default-->
    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
    <!--Declarar tantas lineas de logger como logger haya en el programa. Crear logger en la classe e importar Logger y LoggerFactory-->
    <!--First Landmark classes-->
    <logger name="Area.class" level="debug"/>
    <logger name="basenostates.DoorState" level="debug"/>
    <logger name="basenostates.UserGroup" level="debug"/>
    <logger name="basenostates.DirectoryUserGroups" level="debug"/>
    <logger name="basenostates.Locked" level="debug"/>
    <logger name="basenostates.WebServer" level="debug"/>
    <logger name="basenostates.Space" level="debug"/>
    <logger name="basenostates.DirectoryAreas" level="debug"/>
    <logger name="basenostates.Actions" level="debug"/>

    <logger name="basenostates.DoorState.Propped" level="info"/>
    <logger name="basenostates.User" level="info"/>
    <logger name="basenostates.Schedule" level="info"/>
    <logger name="basenostates.Door" level="info"/>
    <logger name="basenostates.Clock" level="info"/>
    <logger name="basenostates.Main" level="info"/>
    <!---->

    <!--Second Landmark classes-->
    <logger name="basenostates.AreaFinderById" level="info"/>

    <!---->

</configuration>
